# **PRIMERA PARTE: TRAER LOS DATOS DE LA PAGINA WEB** #

## TRAIGO LOS DATOS Y LOS CONVIERTO EN DATAFRAME ##

In [9]:
# importing necessary libraries
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

url = 'https://pipiwiki.com/wiki/List_of_M_postal_codes_of_Canada'
df = pd.read_html(url)
df_trt=df[0]
df_trt.head(5)

  Postal Code         Community              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

## 1.-RENOMBRO  COLUMNAS Postal Code y Community y Neighbourhood (mal escrita la última).  ##
## 2.-Elimino los municipios 'Not Assigned' ##
## 3.-Si una celda tiene un municipio, pero un vecindario No asignado, entonces el vecindario será el mismo que el municipio. ##

In [10]:
# 1.- renombro
df_trt.rename(columns = {'Postal Code':'PostalCode','Community':'Borough','Neighbourhood':'Neighborhood'}, inplace = True) 
#2.- elimino distritos not assigne
df_trt.drop(df_trt[df_trt['Borough'] == 'Not assigned'].index, inplace=True)
#3.- igualo municipio vecindario si este es not assigned
df_trt.loc[df_trt['Neighborhood'] == 'Not assigned', 'Neighborhood'] = df_trt['Borough']
df_trt.head(8)

   PostalCode           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8         M9A         Etobicoke      Islington Avenue, Humber Valley Village
9         M1B       Scarborough                               Malvern, Rouge
11        M3B        North York                                    Don Mills

## CANTIDAD DE REGISTROS DEL DATAFRAME ##

In [11]:
df_trt.shape

(103, 3)

# **SEGUNDA PARTE   AGREGAR COORDENADAS** #

## BUSCO LAS COORDENADAS EN LABORATORIO ##

In [12]:
GeoSpatial_URL ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/labs_v1/Geospatial_Coordinates.csv"

df_ge = pd.read_csv(GeoSpatial_URL)
df_ge.head(5)
#coordinates=pd.read_csv('Geospatial_Coordinates.csv')

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

## REALIZO EL MERGE Y BORRO COLUMNA DUPLICADA ##

In [13]:
df_trt=pd.merge(left=df_trt, right=df_ge, how='left', left_on='PostalCode', right_on='Postal Code')
df_trt=df_trt.drop(columns='Postal Code')
df_trt.head(5)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

## CANTIDAD DE REGISTROS IGUAL AL ANTERIOR ##

In [14]:
df_trt.shape

(103, 5)